{
  "presets": [
    "babel-preset-stage-0"
  ],
  "plugins": [
    "babel-plugin-transform-runtime"
  ],
  "env": {
    "cjs": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "babel-plugin-add-module-exports"
      ]
    }
  }
}
